<%- include('../inc/adminHeader') %>
<!--including the header file from the inc folder -->
<%- include('../inc/adminNav') %>
<!--including the navigation file from the inc folder -->
<div class="container-fluid">
  <div class="row">

    <%- include('../inc/adminSidebar') %>
    <!--including the admin sidebar file from the inc folder -->

    <main id="mainBody" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Page List</h1>
        <div class="container">
          <a href="/admin/addpage" class="btn btn-info mb-5">Goto Add Aage</a>
          <table class="table table-striped" id="myTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="home">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <% i=1  %>
              <% if (pages) { %>

              <% pages.forEach(page => { %>
              <tr id="id_.<%= page._id %>" class="<%= page.slug %> ">

                <th scope="row"><%= i %> </th>
                <td class="d-none"><%= page.shorting %></td>
                <td><%= page.title %> </td>
                <td><%= page.slug %> </td>
                <% if (page.slug=='home') { %>
                 <td></td>
                <% }else{ %>
                <td>
                  <a href="/admin/editpage/<%= page._id %> " class="btn btn-warning">Edit</a>
                  <a href="/admin/delete/<%= page._id %> " class="btn btn-danger"onclick="return confirm('Are you sure you want to Remove?');">Delete</a>
                </td>
                <% } %> 
              </tr>
              <% i++ %>
              <% }) %>
              <%  } %>

            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>


<script>
  // CKEDITOR.replace( 'content' );
  $('tbody').sortable({
    items: "tr:not('.home')",
    placeholder: 'ui-state-highlight',
    update: function () {
      var ids = $('tbody').sortable('serialize');
      var urls = '/admin/reorder-page';

      $.post(urls, ids);
    }

  })

  $(document).ready(function () {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[0];
        y = rows[i + 1].getElementsByTagName("TD")[0];
        // Check if the two rows should switch place:
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }

  });
</script>
<!--including the footer file from the inc folder -->
<%- include('../inc/adminFooter') %>